extends layout

    
block content
  div(class='navbar navbar-inverse navbar-fixed-top')
    div(class='navbar-inner')
      div(class='container')
        a(class='brand', href="/") ChordFork
        ul(class="nav")
          li
            a(href="#", onclick="return false;") explore
          li
            a(href="/create") create
  div(class="container-fluid")
    div(style="text-align: center")
      h3 #{name}
      h4 
        a(href="/user/view/"+owner)  #{owner}
    div(class="well", style="margin: 0 auto; max-width: 500px;")
      h5 Genre: #{genre}
      br
      h4 Chords
      span(class="display-chords")= chords
      br
      br
      br
      h4 Notes
      p #{notes}
